html {
    scroll-behavior:smooth
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    height: max-content;
    color:black;
}

.subtitle {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-title {
    font-size: 1.7rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.5rem;
    text-align: left;
}

.hero { 
    margin: 0;
    width: 100vw;
    height: 55vw;
    box-sizing: border-box;
    padding: 5rem;
    padding-left: 5rem !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero::before{
    filter: blur(3px);
    background: linear-gradient(rgba(20, 46, 174, 0.657), rgba(25, 56, 119, 0.498)), url("/code.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vw;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

/* .hero-img {
    background: url("/hero.png");
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50vw;
    height: 35vw;
}

.hero-img:before {
    background: url("/hero.png");
    mix-blend-mode: hard-light;
    background-size:cover;
} */

.spacing {
    padding-top: 1.5rem !important;
    padding-bottom: 2.5rem !important;
}

.center {
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 7rem;
}


.about {
    padding: 10rem;
    background-color: white;
}

.events {
    padding: 10rem;
    background-color: white;
}

.projects {
    padding: 10rem;
    background-color: white;
}

.team {
    padding: 5rem;
    background-color: white;
}

.contact {
    padding: 10rem;
    background-color: white;
}


.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.project-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.footer {
    padding-bottom: 5rem !important;
}

.links { 
    padding: 1.5rem;
}

a:link, a:active, a:visited {
    color: black;
}


@media screen and (max-width:900px){
    .hero {
        height: 90vh;
        padding: 2rem;
        text-align: center;
    }
    .hero h1 {
        font-size: 5rem;
    }
    .hero::before {
        height: 90vh;
        top: 0;
        background-position: center;
    }

    .text {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
    }
    
    .text-title {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about, .events, .contact, .team, .projects {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media screen and (max-width: 875px) {
    
    .hero {
        height: 50vh;
        padding: 3rem;
        text-align:center;
    }

    .hero::before {
        height: 50vh;
        top: 0;
        background-position: center;
    }

    .hero h1 {
        font-size: 2rem;
        text-align:center;
    }

    .subtitle{
        font-size: 2rem;
    }

    .text {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
    }
    
    .text-title {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .about, .events, .contact, .team, .projects {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /* main h2 {
        font-size: 3rem;
        margin-left: 0;
        text-align: center;
    }

    main.home-body a.top-link {
        margin: 1rem auto;
    } */
}
