@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Glitch&family=Ubuntu+Mono&family=Ubuntu:wght@700&display=swap');

html {
    scroll-behavior:smooth
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}

main {

    font-family: 'Ubuntu Mono';
    height: max-content;
    color: #D3D3D3;
}

.hero-img {
    padding-left: 1rem;
    padding-top: 3rem;
}

img {

    height: 15rem;
    width: 25rem;
}

.light{
    background: black;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

}

.title {
    color: #f8f8ff;
    font-family: 'Rubik Glitch';
    margin-top: 0rem;
    
    font-size: 100px;
    text-align: center;
    margin-bottom: 0.5rem;
}


.subtitle {
    font-family: 'Ubuntu';
    color: #FAF9F6;
    font-size: 3rem;
    padding-bottom: 1rem;

}

.text-title {
    font-family: 'Ubuntu';
    color: #FAF9F6;
    font-size: 1.7rem;
    padding-left: 1rem;
    padding-right: 4rem;
}

.text {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    text-align: left;
}

.hero { 


    /* height: 60vw; */
    background: black;
    box-sizing: border-box;
    /* padding: 5rem; */
    /* padding-left: 5rem !important; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/* .hero-img {
    background: url("/hero.png");
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50vw;
    height: 35vw;
}

.hero-img:before {
    background: url("/hero.png");
    mix-blend-mode: hard-light;
    background-size:cover;
} */

.spacing {
    margin: auto;
    padding-top: 1.5rem !important;
    padding-bottom: 2.5rem !important;
}

.center {
    text-align: center;
}

.hero h1 {
    
    color: black;
    font-size: 7rem;
}


.about {

    background: black;
    padding: 10rem;

}

.faq {
    padding: 2rem;
    margin-bottom: 2rem;
    border-style: solid;
}

.events {
    padding: 10rem;

}

.projects {
    padding: 10rem;
    background-color: white;
}

.team {
    padding: 5rem;
    background-color: white;
}

.contact {
    padding: 10rem;
    background-color: white;
}


.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.project-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.footer {
    background: black;
    padding-bottom: 5rem !important;
}

.links { 
    padding: 1.5rem;
}

a:link, a:active, a:visited {
    color: blue;
}


@media screen and (max-width:810px){
    .hero {
        height: 70vh;
        padding: 1rem;
        text-align: center;
    }
    .hero h1 {
        font-size: 5rem;
    }
    .hero::before {
        height: 70vh;
        top: 0;
        background-position: center;
    }

    .text {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
    }
    
    .text-title {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about, .events, .contact, .team, .projects {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media screen and (max-width: 809px) {
    
    .hero {
        height: 50vh;
        padding: 1rem;
        text-align:center;
    }

    .hero::before {
        height: 50vh;
        top: 0;
        background-position: center;
    }

    .hero h1 {
        font-size: 2rem;
        text-align:center;
    }

    .subtitle{
        font-size: 2rem;
    }

    .text {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
    }
    
    .text-title {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .about, .events, .contact, .team, .projects {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /* main h2 {
        font-size: 3rem;
        margin-left: 0;
        text-align: center;
    }

    main.home-body a.top-link {
        margin: 1rem auto;
    } */
}
